.HomePage {
  .SearchBar {
    padding: 18px 0 16px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);

    .Fields {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      .MuiBox-root {
        display: flex;
        padding-bottom: 12px;
      }

      .Field1 {
        padding-left: 20px;

        label {
          display: inline-block;
          height: 20px;
          padding: 6px 8px 0 10px;
          margin: 0;
          color: #2e5bdb;
          vertical-align: middle;
          @include font(700, 12px, 1.2);
        }

        .MuiInputBase-root {
          .MuiSelect-select {
            min-width: 100px;
            height: 26px;
            padding: 5px 30px 5px 6px;
            color: black;
            box-sizing: border-box;
            vertical-align: middle;
            @include font(500, 14px, 1.2);
          }

          svg {
            right: 4px;
            font-size: 22px;
          }
        }

        .DatePicker {
          position: relative;

          input {
            @include font(500, 14px, 1.2);
            width: 130px;
            min-width: auto;
            height: 26px;
            padding: 5px 6px;
            color: black;
            box-sizing: border-box;
            vertical-align: middle;
          }

          svg {
            position: absolute;
            top: 3px;
            right: 4px;
            color: #666666;
            font-size: 1.25em;
            pointer-events: none;
          }
        }
      }

      .Field2 {
        padding-right: 20px;
        padding-left: 10px;

        .RadioGroup {
          flex-direction: row;
          flex-wrap: nowrap;

          label {
            padding: 0 10px 0 0;
            margin: 0;

            .MuiRadio-root {
              padding: 0;

              svg {
                width: 18px;
                height: 18px;
              }
            }

            .MuiTypography-root {
              padding: 0 0 0 5px;
              color: black;
              @include font(500, 14px, 1.2);
            }
          }
        }

        .DatePicker {
          position: relative;

          input {
            @include font(500, 14px, 1.2);
            width: 130px;
            min-width: auto;
            height: 26px;
            padding: 5px 6px;
            color: black;
            box-sizing: border-box;
            vertical-align: middle;
          }

          svg {
            position: absolute;
            top: 3px;
            right: 4px;
            color: #666666;
            font-size: 1.25em;
            pointer-events: none;
          }
        }

        label {
          padding: 6px 8px 0 0;
          color: #2e5bdb;
          // vertical-align: middle;
          @include font(700, 12px, 1.2);
        }

        .Keyword {
          padding-left: 10px;
          input {
            width: 120px;
            height: 26px;
            padding: 5px 6px;
            color: black;
            box-sizing: border-box;
            outline: none;
            vertical-align: middle;
            @include font(500, 14px, 1.2);
          }

          fieldset {
            border-radius: 2px;
          }

          .Mui-focused {
            fieldset {
              border-width: 1px !important;
            }
          }
        }
      }

      fieldset {
        padding: 0 0 0 8px;
        border: 1px solid #dddddd;
        border-radius: 2px;
      }

      .DatePicker {
        position: relative;

        input {
          min-width: 120px;
          height: 26px;
          padding: 5px 6px;
          border: 1px solid #dddddd;
          border-radius: 2px;
          color: black;
          box-sizing: border-box;
          vertical-align: middle;
          @include font(500, 14px, 1.2);
        }

        svg {
          position: absolute;
          right: 0;
          background-color: white;
        }
      }
    }

    .Buttons {
      text-align: center;

      button {
        width: 120px;
        padding: 11px 20px 11px 17px;
        margin: 0 2.5px;
        border-radius: 5px;
        color: #257cfd;
        text-align: center;
        border-color: #257cfd;
        @include font(500, 14, 1);

        .MuiButton-startIcon {
          margin-right: 6.2px;
        }

        &:first-child {
          border: 1px solid #00ac4f;
          color: #00ac4f;
        }
        &:last-child {
          border: 1px solid #2e5bdb;
          background-color: #2e5bdb;
          color: white;
        }
      }
    }
  }

  .TabContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px 0 0;

    .MuiTabs-flexContainer {
      justify-content: space-between;
      align-items: flex-end;

      button {
        width: calc(100% / 3);
        height: 45px;
        min-height: auto;
        padding: 0;
        border: 1px solid #d5d5d5;
        border-radius: 10px 10px 0 0;
        background-color: white;
        color: #555555;
        @include font(400, 16px, 1.5);

        &.Mui-selected {
          height: 55px;
          background: rgb(34, 71, 177);
          background: linear-gradient(
            90deg,
            rgba(34, 71, 177, 1) 0%,
            rgba(46, 91, 219, 1) 100%
          );
          background: -moz-linear-gradient(
            90deg,
            rgba(34, 71, 177, 1) 0%,
            rgba(46, 91, 219, 1) 100%
          );
          background: -webkit-linear-gradient(
            90deg,
            rgba(34, 71, 177, 1) 0%,
            rgba(46, 91, 219, 1) 100%
          );
          color: white;
        }
      }
    }

    .MuiTabs-indicator {
      display: none;
    }

    .TabPanel {
      height: 100%;
      padding: 25px 20px 30px;
      border: 1px solid #dddddd;
      border-radius: 0 0 10px 10px;
      background-color: white;
      border-top: 0;

      .Panel {
        position: relative;
        height: 100%;
      }

      &[hidden] {
        display: none;
        padding: 0;
        border: 0;
      }
    }
  }

  .PatientListContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;

    .MuiBox-root {
      display: flex;
      justify-content: space-between;

      h1 {
        color: black;
        @include font(700, 16px, 1.5);
      }

      p {
        color: #333333;
        @include font(400, 14px, 1.5);

        em {
          color: #2e5bdb;
          @include font(400, 14px, 1.5);
        }
      }
    }

    .PatientListTable {
      position: absolute;
      top: 24px;
      width: 100%;
      height: calc(100% - 42px);
      padding-top: 8px;
      overflow: hidden;

      .MuiTableContainer-root {
        position: relative;
        height: auto;
        max-height: 100%;

        thead {
          tr {
            th {
              padding: 10px 0 8px 0;
              border: 1px solid #dddddd;
              background-color: #f5f5f5;
              color: black;
              text-align: center;
              border-width: 1px 0;
              @include font(700, 14px, 1.5);
            }

            :nth-child(1) {
              min-width: 5em;
            }
            :nth-child(2) {
              min-width: 6em;
            }
            :nth-child(3) {
              min-width: 3em;
            }
            :nth-child(4) {
              min-width: 3em;
            }
            :nth-child(5) {
              min-width: 6em;
            }
            :nth-child(6) {
              min-width: 3em;
            }
            :nth-child(7) {
              min-width: 8em;
            }
            :nth-child(8) {
              min-width: 8em;
            }
            :nth-child(9) {
              width: 100%;
            }
          }
        }

        tbody {
          tr {
            td {
              padding: 8px 0;
              background-color: white;
              color: #333333;
              text-align: center;
              @include font(400, 14px, 1.5);

              // 로딩바
              span {
                margin: 15px 0;
              }
            }

            :nth-child(1),
            :nth-child(6),
            :nth-child(7),
            :nth-child(9) {
              position: relative;

              p {
                position: absolute;
                top: 0;
                width: 100%;
                padding: 8px 0;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }

            :nth-child(9) {
              text-align: left;
            }

            &:hover {
              td {
                background-color: #f8faff;
                color: #2e5bdb;
              }
            }
          }
        }
      }
    }
  }
}
